
<div class="panel panel-default">

	<div class="panel-heading">
		<h4>Contact Detail</h4>
	</div>

	<div class="panel-body">
		<table class="table table-striped table-hover">
			
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Address</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{contact.name}}</td>
					<td>{{contact.email}}</td>
					<td>{{contact.phone}}</td>
					<td>{{contact.add1}} - {{contact.add2}} - {{contact.city}} - {{contact.state}} - {{contact.country}} - {{contact.zip}}</td>
				</tr>
			</tbody>
		</table>

		<a href="#/all-contacts" class="btn btn-primary" title="">Back</a>
	</div>
</div>